@import "partials/setup";
@import "partials/header";






	.rating {
		// direction: rtl;
		float: left;
		input {
			display: none;
		}

		// label {
		// 	color: white;
		// }
		span {
			font-size: 20px;
		}
		

	}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;

}
.rating > button {
  display: inline-block;
  position: relative;
  font-size: 20px;
  color: white;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
	&:focus {
		outline:0;
	}
}
.rating > button:hover,
.rating > button:hover ~ button {
 background-color: transparent;
}
.rating > button:hover:before,
.rating > button:hover ~ button:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.rating > button:focus,
.rating > button:focus ~ button {
 background-color: transparent;
}
.rating > button:focus:before,
.rating > button:focus ~ button:before {
   content: "\2605";
   position: absolute;
   color: gold;
}

.rating > button:checked,
.rating > button:checked ~ button {
 background-color: transparent;
}
.rating > button:checked:before,
.rating > button:checked ~ button:before {
   content: "\2605";
   position: absolute;
   color: gold;
}


.ratingForm {
	label {
		font-size: 40px;
	}
}





.gifResultContainer {
	font-size: 0px;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	// display: flex;
	// flex-wrap: wrap;
	// justify-content: space-around;
	// align-items: center;
	// line-height: 0;
	// column-count:         5;
 //   	column-gap:           0px;
}

.gifResult {
	position: relative;
	display: inline-block;
	flex-grow: 1;
	// width: 100% !important;
  // height: auto !important;
	// padding: 20px;
	margin: 20px;
	img {
		width: 100%;
		// max-width: 100%;
		// height: auto;
	}
}

// .gifResult {
// 	// display: flex;
// 	img {
// 		max-width: 100%;
// 	}
// }

.gifResult--rating {
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.gifResult--buttons {
	// width: 30%;
	width: 100%;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	z-index: 10;
	button {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		font-size: 30px;
		background-color: white;
		border: none;
		color: black;
	}
}


.gifResult--Overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	// height: auto;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0, 0, 0, 0.5);

}

.gifResult--Overlay:hover {
	opacity: 1;
}